[2020-10-10 12:02] geazersb opened #1 "If there's no role, it doesn't work"
![image](https://user-images.githubusercontent.com/72651083/95654585-319a4a00-0b01-11eb-8dde-ed0853baff13.png)

[2020-10-10 16:03] mahtoid commented on #1
Hello,

Thank you for reporting this issue.

I've ran a few tests and detected the issue happened when mentioning deleted/removed roles. I've just pushed an update fixing this issue, and also fixing it for mentioning deleted channels.

Please update your version and let me know if this has resolved the problem for you.

Thank you again!

[2020-10-11 15:18] #1 closed

[2020-11-17 23:58] AZalshehri7 opened #2 "Embed not showing correctly"
Hey there,

I found two issues with the embeds in general. First one is the embed field always shows as `inline=True` and the other one is that markdown links inside the embed show as row text. Here is two photos showing the difference.

![html](https://user-images.githubusercontent.com/48307757/99464698-c3d80e00-2949-11eb-8dd3-1bc8dddcd188.png)
![discord](https://user-images.githubusercontent.com

[2020-11-18 21:55] mahtoid commented on #2
I've also noticed the additional issue of the embed assigning a `footer_icon` even when there isn't one in the HTML document.

I'll get on to fixing this as soon as I can (I'll update this PR when it's updated to give you a nudge), thank you! 💜

[2020-11-22 01:02] mahtoid commented on #2
@AZalshehri7 This should now be fixed! Make sure you update your module

Thank you once again, and remember to open up another issue (or join the Discord) if you find any more problems 🥇💜

[2020-11-22 01:02] #2 closed

[2021-01-11 17:49] sh0e opened #5 "I get this error whenever i use the command"
Error during transcript generation!
Traceback (most recent call last):
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/chat_exporter/chat_exporter.py", line 55, in quick_export
    transcript = await Transcript.export(ctx.channel, None, "Europe/London")
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/chat_exporter/chat_exporter.py", line 100, in export
    transcript = aw

[2021-01-14 18:20] mahtoid commented on #5
Hello, sorry for the late response.

Are you trying to run the module via a bot token?

[2021-01-22 18:14] mahtoid commented on #5
Closing the ticket, due to no response.

Feel free to join the Discord or re-open a ticket if you're still facing the issue.

[2021-01-22 18:14] #5 closed

[2021-01-28 16:01] debnet opened #6 "Error when exporting channel with references"
[code]

Code:

[code]

[2021-01-29 15:00] mahtoid commented on #6
Thank you for your report, this has now been fixed - please update your module or pull the latest files to your repository.

Closing out this ticket, if you find any more problems, please do let me know! 💜

NOTE: Since you're purging the messages, then exporting - references will come up as they have been deleted (I may investigate this to see if there is anything that could be done to make this s

[2021-01-29 15:00] #6 closed

[2021-03-03 17:07] siren15 opened #7 "Got this error today, worked just fine not so long ago"
![image](https://user-images.githubusercontent.com/65129243/109842957-e2d58400-7c4a-11eb-9bc5-b7bc05b90440.png)
I'm using it in a cog, if that helps in some way.

[2021-03-05 21:43] mahtoid commented on #7
Hello @siren15 - Thank you for your ticket.

I'm not able to reproduce this issue. How are you calling the function?

[2021-03-09 16:41] mahtoid commented on #7
Closing ticket as unable to reproduce and no response.

If this issue still consists for you, please join the Discord (link at the bottom of the README), and I'll be happy to help.

💜

[2021-03-09 16:41] #7 closed

[2021-04-10 12:38] ahdbarjoud opened #8 "Passing check for exporting."
Allow export() to accept a check function the same way channel.purge() accepts it.

I know I can just pass the check function to purge and it would only return the messages that got deleted. But for uses other than exporting deleted messages where I want to have checks on what messages are extracted.

[2021-04-12 19:33] mahtoid commented on #8
Hello @ahdbarjoud

I'm struggling to understand what you're saying to do, to see what feature you're requesting.

How I'm reading it, is that you're wanting a "check" to grab certain messages, rather than just all of them? You can do this yourself and use `raw_export`. You can store all the messages you want in to a list, then pass it in to `chat_exporter.raw_export(CHANNEL, MESSAGES, TIMEZONE: Op

[2021-04-13 03:36] ahdbarjoud commented on #8
That does solve my problem. Thank you.

[2021-04-16 16:26] #8 closed

[2021-05-19 17:51] Cats3153 opened #9 "Emojis in embeds aren't supported"
They still render as <:emoji:id>, however, when outside of an embed, it renders correctly.

[2021-05-20 13:36] Brian-van-Rheenen opened #10 "Incorrect formatting with user mentions within embed descriptions."
When there's a user mention inside an embed, the formatting will be all over the place. This seems to happen only if it's within the description and not a field. I have linked 2 screenshots below.
This issue is relevant to #9, but has another problem besides the emojis.

Formatting with the exporter:
![Capture](https://user-images.githubusercontent.com/27146982/118987740-d37bf200-b980-11eb-8bfa-ec

[2021-05-23 14:31] mahtoid commented on #9
Thank you for your report, I've managed to replicate the issue and have pushed a fix to the code. I'll push a version to pypi a little later today.

If you get any other issues, feel free to open up another issue - or alternatively join the Discord: discord.gg/jeAdPaC

[2021-05-23 14:31] #9 closed

[2021-05-23 14:32] mahtoid commented on #10
Thank you for your report, I've managed to replicate the issues and have pushed a fix to the code. I'll push a version to pypi a little later today.

If you get any other issues, feel free to open up another issue - or alternatively join the Discord: discord.gg/jeAdPaC

[2021-05-23 14:32] #10 closed

[2021-05-25 19:28] Brian-van-Rheenen opened #11 "Incorrect formatting with role mentions in message content with an embed."
This is very similair to my previous #10 issue, but this time it's inside the content of the message and not the embed itself. Here are 2 screenshots. (It's all 1 message sent by the bot: `ctx.channel.send(content=mentions, embed=embed)`)
I'm not sure if this is specifically tied to role mentions or that's also user mentions, I have not tested that since my bot only allows role mentions.

Formatti

[2021-05-25 19:32] Brian-van-Rheenen commented on #10
I noticed that the first emoji is not quite placed correctly when there's a user mention next to it.
Formatting with the exporter:
![Capture](https://user-images.githubusercontent.com/27146982/119557399-7036f900-bda0-11eb-8cce-9d5a82c582c6.PNG)

Formatting on Discord:
![Capture](https://user-images.githubusercontent.com/27146982/119557580-a83e3c00-bda0-11eb-8c82-320201cea800.PNG)

[2021-05-25 19:55] mahtoid commented on #11
I'll give this a look soon, there is a hotfix coming soon for another issue - which may potentially solve this issue you're facing.

[2021-05-25 19:59] Brian-van-Rheenen commented on #11
Alright, I also noticed something else that was relevant to the previous issue. Just something small though. I couldn't re-open the issue.
https://github.com/mahtoid/DiscordChatExporterPy/issues/10

[2021-05-25 23:27] mahtoid commented on #11
What's the other issue you have noticed?

[2021-05-26 08:17] Brian-van-Rheenen commented on #11
Copy pasted:

I noticed that the first emoji is not quite placed correctly when there's a user mention next to it.
Formatting with the exporter:
![Capture](https://user-images.githubusercontent.com/27146982/119557399-7036f900-bda0-11eb-8cce-9d5a82c582c6.PNG)

Formatting on Discord:
![Capture](https://user-images.githubusercontent.com/27146982/119557580-a83e3c00-bda0-11eb-8c82-320201cea800.PNG)

[2021-05-26 13:03] mahtoid commented on #11
I'm pretty sure all of the issues stated here are solved in the most lastest commit. Would there be any chance you could clone the repository and test or pass me a link to your guild where I can run the check before I push things to release.

Discord: mahtoid#3787

[2021-05-27 17:35] mahtoid commented on #11
This has all been solved and released in the latest version (1.4.1).
As DM'd, the spaces actually exist in your embed - Discord kind of does an `.lstrip()` on display; however they're still there.

Appreciate the bug reports yet again though! Keep them coming 💜

[2021-05-27 17:35] #11 closed

[2021-07-21 16:23] iDaFox opened #12 "Hostname Error"
![image](https://user-images.githubusercontent.com/46523983/126524210-b0bb40f7-911d-4b66-b2da-05a64fe33559.png)
Traceback (most recent call last):
  File "C:\Users\yilma\AppData\Local\Programs\Python\Python37\lib\site-packages\chat_exporter\chat_exporter.py", line 36, in export
    return (await Transcript.export(channel, limit, set_timezone)).html
  File "C:\Users\yilma\AppData\Local\Programs\Pyt

[2021-07-21 16:30] iDaFox commented on #12
I found the problem, bot doesnt get transcript if there are emoji in chat.

[2021-07-21 16:49] iDaFox commented on #12
I was using old request module, so its solved with "pip install --upgrade requests" command. Thanks to **mahtoid**.

[2021-07-21 16:49] #12 closed

[2021-08-02 20:06] Joshy3282 opened #14 "Transcript Just Stops"
I'm using chat exporter for a ticket system however the transcripts do not work sometimes. I've tried many things to figure out the issue but its random. It stops with/without videos, pictures, files, basically everything. I've ramped down the amount of messages which hasn't done much.

This is what I'm currently using

`transcript = await chat_exporter.export(ctx.channel, limit=200, set_timezone=

[2021-08-02 23:47] #14 closed

[2021-08-08 23:36] lukasthaler opened #15 "Large numbers of emojis essentially halt the transcription"
**Issue description**
If there is a large quantity of emojis in the messages, the transctiption process exponentially slows down to the point where it takes several minutes to complete, while making the bot unresponsive to any other input for the duration

**Steps to reproduce**
Get yourself a channel and spam about 150-200 emojis (doesn't matter if in one or multiple messages, doesn't matter if t

[2021-08-16 11:14] mahtoid commented on #15
Firstly, beautiful issue request. I have to love it when I see these come through.

You're correct, it's currently synchronous which can cause a stack up and delay other tasks. As you suggested, switching to `aiohttp` will be beneficial so I will set some time this week in to switching that in to allow for asynchronous usage.

Additionally, establishing an emoji cache to avoid duplicate calls soun

[2021-08-17 08:25] mahtoid commented on #15
`aiohttp` won't be a solution. After some time thinking about it, even though you would be turning the function asynchronous - it'll still be working in a synchronous manner as you can only send one request of at a time as technically we don't know the next part of the message.

In terms of caching, functools gives access to the `lru_cache` decorator which pretty much solves the issue. It knocks t

[2021-08-17 09:23] lukasthaler commented on #15
I agree that going asynchronous won't speed up the transcription itself, but it would make the bot responsive throughout the process. If LRU-caching is in fact powerful enough to push the performance into the sub-second range, that should not be a huge factor, however.
The notable exception is the presence of a large number of different emojis, as this cannot be mitigated by caching and **will** c

[2021-08-19 18:41] Anthony2be opened #16 "AttributeError: 'ActionRow' object has no attribute 'children'"
![image](https://user-images.githubusercontent.com/50805238/130126047-2710bba6-c9b2-49c0-ad44-15f83e1e9f72.png)

[2021-08-19 18:52] Anthony2be commented on #16
updating to 1.6.2 worked

[2021-08-19 18:52] #16 closed

[2021-08-20 22:14] Cuts-xo opened #17 "Embeds(?) stopping exporting"
[code]

The error i get.

[2021-08-23 11:21] mahtoid commented on #17
This was solved in Discord.
Remember to update your modules!

💜

[2021-08-23 11:21] #17 closed

[2021-08-23 11:26] mahtoid commented on #15
That is true. I've got a patch written up, I'll push it to Github later today (pypi version will be later this week as I need to get out another minor before that).

`lru_cache` from functools doesn't work on asynchronous functions - so I kindly borrowed a cache function from dpy and stripped it just what the module will need to avoid bloat. Additionally switched out `requests` for `aiohttp`.

[2021-08-23 22:31] lukasthaler commented on #15
That sounds very promising, thanks for your effort! I'll upgrade to the Github version and verify that this deals with the issue at hand some time in these next few days if you want me to (and haven't already done all of the testing yourself)

[2021-09-03 04:40] oneup40 opened #19 "Wrong avatar shown for replied-to messages"
First of all, awesome work with this project so far. I was glad to see somebody had made a Python version of this which makes it way easier to integrate into a Python-based bot than the original .NET one.

One very minor thing I noticed though is that the wrong avatar is shown for the author of a replied-to message. Instead of showing the author of the original message, it seems to show the author

[2021-09-03 05:05] oneup40 opened #20 "Colon-delimited :standard_emoji: aren't properly converted to graphical emoji in transcript"
When I send a colon-delimited standard emoji, such as `:thumbsup`, in a message using discord.py, the Discord web client renders the emoji as the actual graphical representation 👍. The exported transcript still renders it as the `:thumbsup:` text though, instead of the graphic. Note that this only happens when a colon-delimited emoji is sent directly with discord.py (and probably other libraries),

[2021-09-05 21:32] mahtoid commented on #19
Thank you for reporting this issue, I'll check in to this tomorrow and confirm.

[2021-09-05 21:39] mahtoid commented on #20
It's exactly that. Any bot will read the text as `:thumbsup:` rather than an actual emoji which the client outputs.

I could potentially look at utilising the `emoji` package more to convert the shortcode to emojis (and then convert for pwetty twemoji) but that is not something currently on the agenda.

I'll happily add this to my idea-catalog and get around to it when I can.

Thank you for the re

[2021-09-05 21:39] #20 closed

[2021-09-06 14:41] mahtoid commented on #19
I can confirm this is an issue, thank you for catching this.

I've pushed a solve to Github (which you can update if you cloned the repository). I'll be pushing a new version to pypi in the next couple of days.

Thank you! 💜

[2021-09-06 14:41] #19 closed

[2021-10-25 21:51] ITKewai opened #21 "edpy: PartialMessageable objects instead of Channel and Guild on Messageable.Context"
![image](https://user-images.githubusercontent.com/44037081/138776112-4efa2d08-7e62-4a0b-a6ec-336d8167efd9.png)

[2021-10-26 01:42] #21 closed, assigned to mahtoid

[2021-10-26 08:12] Sunkwii opened #22 "Suggestion"
Bot to be able to save your discord with all the channels.
Save deleted messages and save the changes to messages.

[2021-10-28 13:45] #22 closed, assigned to mahtoid

[2021-12-21 16:03] Classified154 opened #24 "Issue while exporting"
![image](https://user-images.githubusercontent.com/53806655/146961072-4d155d03-32f4-4485-a77f-6375c1c7d7e5.png)

[2021-12-21 16:13] mahtoid commented on #24
Hey @Classified154 - sorry you're having an issue.

Could you let me know what version or fork of `discordpy` you are using - along with what version of `chat-exporter`?

[2021-12-21 16:38] mahtoid commented on #24
I'm closing this issue as we've solved this on Discord.

To anyone else who has a similar issue, this is caused by using `disnake` on the `chat-exporter` version of `1.7.2`.
The solution (for now) would be to use the dev branch of `chat-exporter` being `reconstruct`.

[code]

I will be looking to merge this version in to `master` at the start of the new year once all the minor bugs have been disco

[2021-12-21 16:38] #24 closed

[2022-01-07 01:56] KommandNyang opened #25 "what is this"
Traceback (most recent call last):
  File "C:\Users\user\Documents\GitHub\p-pg-ticketbot\main.py", line 2, in <module>
    from discord.ext import commands
  File "C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\discord\__init__.py", line 25, in <module>
    from .client import Client
  File "C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\discord\clie

[2022-01-08 00:44] KommandNyang commented on #25
I'll just give you all of software's info that can related with this

Python 3.8.5 (uses 3.9.7 too but 3.8.5 main)
Microsoft Windows 11 Home Build 22523.1000
(Discord.py) Py-cord  2.0.0a4748+gc602bc45
aiohttp  3.7.4.post0

[2022-01-08 00:58] KommandNyang commented on #25
sorry
umm.. i tried to update python to 39
and it perfectly works

[2022-01-08 00:58] #25 closed

[2022-01-10 04:50] mahtoid commented on #25
Quite a weird solve, I'm assuming `pycord` now requires Python 3.9 for some usage. Either way, I'm glad you got it sorted!

[2022-01-23 17:33] lktoby opened #26 "error exporting"
[this is the fork i'm using](https://github.com/iDevision/enhanced-discord.py/tree/2.0)
the bot is running on python 3.9
when i attempted to create logs of a channel it gave me this error:
[code]

[2022-01-23 20:03] mahtoid commented on #26
You are putting the arguments in the parameters in an incorrect order.
The correct order is `channel`, `guild`, `limit` and `set_timezone`.

I'd recommend using keyword arguments when passing in variables.
For example: `transcript = await chat_exporter.export(channel=ctx.channel, guild=ctx.guild, limit=1000, set_timezone="UTC")`

The only required argument is `channel`, the rest are optional and c

[2022-01-23 20:04] mahtoid commented on #26
Let me know if you still have any issues 😄

[2022-01-25 12:55] lktoby commented on #26
remove the `guild` parameter and now it's working, thank you so much!

[2022-01-25 12:55] #26 closed

[2022-01-29 22:14] zMultiii opened #27 "AttributeError: 'Guild' object has no attribute 'reverse'"
![image](https://user-images.githubusercontent.com/84645666/151679217-9af27cbb-aa23-43f8-a499-64ce8c770077.png)
![image](https://user-images.githubusercontent.com/84645666/151679232-b38c8b58-8d69-4258-989f-5fe7429749fc.png)

[2022-01-30 17:11] #27 closed

[2022-02-28 09:30] arguskao opened #29 "ASK"
How to install chat_exporter 1.73?

[2022-02-28 18:30] mahtoid commented on #29
You can use `pip install chat-exporter@1.7.3` to install the appropriate version

[2022-02-28 18:30] #29 closed

[2022-03-04 02:05] MrPotatuh opened #30 "I have this error. How do I solve it?"
Traceback (most recent call last):
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/chat_exporter/construct/transcript.py", line 59, in export
    return await super().build_transcript()
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/chat_exporter/construct/transcript.py", line 32, in build_transcript
    message_html = await Message(self.messages, self.channel.guild, sel

[2022-03-04 13:40] PandaDEVpy opened #31 "author_icon returning _EmptyEmbed (potential fork issue)"
![image](https://user-images.githubusercontent.com/70103896/156773632-19e9b61f-0d56-475a-8e91-1ebb90fe2dd9.png)

[2022-03-06 02:10] Hichoow commented on #31
Downgrade to version 1.7.3

pip install chat-exporter==1.7.3

[2022-03-06 02:10] Hichoow commented on #30
Downgrade to version 1.7.3

pip install chat-exporter==1.7.3

[2022-03-06 10:56] mahtoid commented on #30
As @Hichoow has mentioned, for this issue you need to downgrade to `chat-exporter 1.7.3` using `pip install chat-exporter==1.7.3`

[2022-03-06 10:56] #30 closed

[2022-03-06 16:27] mahtoid commented on #31
Hello @PandaDEVpy

I'm struggling to replicate this issue - could you please let me know what version of `discord.py` (or fork) you are using please.

[2022-03-09 10:48] mahtoid commented on #31
I'm closing this ticket due to inactivity, feel free to reopen if you still have an issue.

[2022-03-09 10:48] #31 closed

[2022-03-15 20:56] Bertie2006 opened #32 "I'm having issues lately with the library (since I havent used it in a month or 2) and get these errors:"
Traceback (most recent call last):
  File "C:\Users\bert\AppData\Local\Programs\Python\Python38\lib\site-packages\discord\ui\view.py", line 368, in _scheduled_task
    await item.callback(interaction)
  File "c:\Users\bert\Downloads\joscheats ticket bot.py", line 130, in Save_transcript_button
    transcript = await chat_exporter.export(channel)
  File "C:\Users\bert\AppData\Local\Programs\Python\

[2022-03-15 20:58] Bertie2006 commented on #32
when I downgrade to 1.7.3, I get this error: Traceback (most recent call last):
  File "C:\Users\bert\AppData\Local\Programs\Python\Python38\lib\site-packages\chat_exporter\chat_exporter.py", line 44, in export
    return (await Transcript.export(channel, limit, set_timezone)).html
  File "C:\Users\bert\AppData\Local\Programs\Python\Python38\lib\site-packages\chat_exporter\chat_exporter.py", line

[2022-03-16 21:03] mahtoid commented on #32
Hello @Bertie2006 - sorry for the delay.

I cannot tell much from the first traceback you gave me, however the second traceback is because you are using `discord.py=2.0.0a` and require the patch which is in `chat-exporter==2.1`.

If you could upgrade again to `2.1` using `pip install --upgrade chat-exporter` then if you run in to the issue again, give me the full traceback.

[2022-03-16 21:05] Bertie2006 commented on #32
I managed to fix the library myself. In the file to make embeds, in dpy 2.0 discord.Embed.Empty doesn't exist. It is None now.

[2022-03-16 21:05] Bertie2006 commented on #32
They also changed the chat history.flatten(), it's something else now.

[2022-03-16 21:21] mahtoid commented on #32
I'm glad you got it fixed! Sorry for the delay.

The `.flatten()` issue is solved in `chat-exporter` 2.1
The `discord.Embed.Empty` I have the solve locally, which I'll push to the repo in ~10-15 minutes, then to `pypi` probably tomorrow.

If you have any other issues or want to report any bugs; then feel free to re-open the issue, create another one or alternatively join the Discord where I respon

[2022-03-16 21:21] #32 closed

[2022-03-24 16:46] AlessandroZanatta opened #34 "Error when saving chat"
I've encountered the following error. This may be related to some of the new features of Discord, but I'm unsure as I've not used this library in a while.
[code]

[2022-03-24 18:58] mahtoid commented on #34
Hello @AlessandroZanatta - I'm unable to replicate this issue locally (using the latest dpy, chat-exporter and the different styles of message references).

When using the latest version of discord.py, make sure you are using the latest version of `chat-exporter`.
You can upgrade with `pip install --upgrade chat-exporter`.

If you have done this and you are still getting an issue - please could yo

[2022-03-26 07:22] ZeusHay opened #35 "Error on save"
File "C:\Users\Developer\AppData\Local\Programs\Python\Python39\lib\site-packages\chat_exporter\construct\transcript.py", line 67, in export
    return await super().build_transcript()
  File "C:\Users\Developer\AppData\Local\Programs\Python\Python39\lib\site-packages\chat_exporter\construct\transcript.py", line 37, in build_transcript
    message_html = await Message(self.messages, self.channel.g

[2022-03-26 07:24] ZeusHay opened #36 "Error attribute 'components'"
File "C:\Users\Developer\AppData\Local\Programs\Python\Python39\lib\site-packages\chat_exporter\construct\transcript.py", line 67, in export
    return await super().build_transcript()
  File "C:\Users\Developer\AppData\Local\Programs\Python\Python39\lib\site-packages\chat_exporter\construct\transcript.py", line 37, in build_transcript
    message_html = await Message(self.messages, self.channel.g

[2022-03-27 16:24] AlessandroZanatta commented on #34
Sorry for the late answer.

I actually had an old version running on my container, but unfortunately that's not the only problem (I've also seen a couple of other issues have been opened).
Here's the updated error:

![image](https://user-images.githubusercontent.com/41871589/160290883-824dcf55-1f64-49ab-a008-b2f28eecd1a1.png)

I've simply called the export function with the channel name. Regarding

[2022-03-28 17:19] #34 closed

[2022-03-28 17:21] mahtoid commented on #36
Hello @ZeusHay - sorry for the delay.

You are receiving this issue because you are using `discord.py 1.7.3` (or fork equivalent to that version). As suggested in the README, when you are using this version - please use `chat-exporter 1.7.3`

You can downgrade with the following command: `pip install chat-exporter==1.7.3`

Feel free to re-open this ticket if you have any further issues.

[2022-03-28 17:30] mahtoid commented on #35
I have a feeling you are using the wrong argument placement, when adding additional arguments in to `chat_exporter` function you are using, please use keyword arguments.

For 2.0+:
[code]

For 1.7.3:
[code]

Respectively, the `limit` would be an integer value which will limit the amount of messages to capture in the history. The `tz_info` or `set_timezone` would be a [TZ database name](https://en.

[2022-03-28 17:30] #35 closed

[2022-04-14 21:15] XSlizeMoon opened #39 "AttributeError: 'NoneType' object has no attribute 'html'"
So, I am trying to use quick_export, however, I am getting a NoneType issue.
# Error
[code]

# Code:

[code]

[2022-04-14 22:23] mahtoid commented on #39
Hello @XSlizeMoon,

As mentioned in the README, when using `discord.py==1.7.3` (or fork equivalent) you will need to use `chat-exporter==1.7.3`.

You can downgrade by using: `pip install chat-exporter==1.7.3`.

If for some reason that does not solve your issue, please re-open the issue or create a new one with the issue you are facing.

**Note**
According to [Danny's Gist](https://gist.github.com/

[2022-04-14 22:23] #39 closed

[2022-04-15 13:51] Owned67 opened #40 "AttributeError: 'Member' object has no attribute 'display_avatar'"
`Traceback (most recent call last):
  File "C:\Python39\lib\site-packages\chat_exporter\chat_exporter.py", line 44, in export
    return (await Transcript.export(channel, limit, set_timezone)).html
  File "C:\Python39\lib\site-packages\chat_exporter\chat_exporter.py", line 129, in export
    transcript = await Transcript(
  File "C:\Python39\lib\site-packages\chat_exporter\chat_exporter.py", line

[2022-04-16 22:39] mahtoid commented on #40
Hello @Owned67

The `AttributeError: 'Member' object has no attribute 'display_avatar'` is one of the changes which took place in `discord.py==2.0.0a`. You would need to use `chat-exporter==2.1.1` onwards.

Could you upgrade again with `pip install --upgrade chat-exporter` and let me know which issue you have with the latest version, and we'll work to solve that.

[2022-04-17 15:59] Owned67 commented on #40
I've solved it with install a new instance of discord.py => 1.7.3

Thanks

[2022-04-17 15:59] #40 closed

[2022-04-20 23:25] IIHERO4 opened #41 "Feature Request: Embed threads in channel export"
idk maybe export threads within channel msgs

[2022-04-23 11:32] mahtoid commented on #41
Hello @IIHERO4

The way threads are set up currently, the bot would have to be added in to the thread for it to be able to view and export the thread content. `chat-exporter` should be able to handle exporting `threads` by themselves, however - to do this alongside a channel may be a little tricky due to the way they were designed by Discord.

I will close this feature request due to the Discord d

[2022-04-23 11:32] #41 closed

[2022-04-25 07:18] Lightning-playZ opened #42 "Error coming"
Hi an error is coming please take a look into it
![IMG_20220425_124734](https://user-images.githubusercontent.com/91042395/165039288-02b03010-db89-4a22-98d0-c934b9feeee7.jpg)

[2022-04-25 08:05] #42 closed

[2022-05-29 18:49] Kapppa opened #44 "Message Components in wrong order"
When exporting a channel with Message Components they will be in the wrong order.

Example:
[Discord](https://i.jimbo.dev/7giv1ddw.png)
[Export](https://i.jimbo.dev/sqvx15b7.png)

As you can see on Discord the buttons are below the embed while in the Export the buttons are above the Embed.

[2022-05-30 12:54] mahtoid commented on #44
Hey @Kapppa - thank you for the report.

This should already be resolved within the `dev` branch which I should be releasing ~~1 month ago~~ this weekend coming. I'll keep this issue open until I can double check and confirm that it is resolved in the upcoming version.

Thank you once again

[2022-06-06 21:34] mahtoid commented on #44
I can confirm this is definitely solved in `dev` which will be releasing real soon.

Thank you for the bug report, keep an eye out for the release! 🎉 💜

[2022-06-06 21:34] #44 closed

[2022-06-07 15:35] nmarotte opened #46 "Member object has no attribute display_icon"
### DiscordChatExporterPy Version

2.2

### Discord Version

pycord 2.0.0rc1

### Bug Description

Calling chat_exporter.export on a channel where there is a bot with no profile picture set results in a traceback. Maybe this libraray doesn't work with pycord but discord.py instead ?

Also : the guild does not have a profile picture either, that might be it

### Bug Traceback

`Traceback (most rece

[2022-06-07 21:31] mahtoid commented on #46
`.display_icon` is to display the members role icon.

Within `pycord` they don't have a member attribute to do this. Instead I will have to chase down the `.top_role` then gather the `.icon` from that.

Although this is definitely a bug, I have no urgency to solve this and will take a look at this at the end of the week. As a solution for now, you may want to downgrade to 2.1.

You can downgrade b

[2022-06-08 07:06] nmarotte commented on #46
Thanks for the reply, from what I found on pycord we can also use the display_avatar attribute that will return the guild specific icon, or the user icon, or the default avatar in that order

Unfortunately I can't work with discord.py since I am using recent functionalities of discord such as threads and discord.py was not updated for that at that time

[2022-06-08 16:45] mahtoid commented on #46
The `.display_icon` gathers the image for the icon next to the users name, not the avatar of the user.

For example:
![image](https://user-images.githubusercontent.com/56257224/172671245-afa72d26-ba8a-4f25-88fc-9cfe49d2ed86.png)

Next to `Cap` you see the Wumpus icon, next to `Nelly` you see the art _thing_ and next to `Wumpus` you see a smiley face.

---

I understand that. With Danny archiving d

[2022-06-08 17:22] Kapppa commented on #46
Same issue with Nextcord. I can do a fix later today

[2022-06-08 20:50] nmarotte commented on #46
No I did mean display_avatar which is a property of Member in pycord, but it's probably different for discord.py

[2022-06-11 00:42] mahtoid commented on #46
@nmarotte There seems to be some misunderstanding.

The `AttributeError: 'Member' object has no attribute 'display_icon'` refers to `.display_icon` which gathers the member icon (as shown in the screenshot above). This is nothing to do with an avatar.

`.display_avatar` in discord py, pycord and nextcord are the exact same thing (referring to getting the avatar, and defaulting to `None` if there i

[2022-06-11 07:16] nmarotte commented on #46
Oh yes my bad I thought the traceback was about the profile picture nevermind 😅

[2022-06-12 13:51] mahtoid commented on #46
This has now been resolved in the latest version.
Please update to the latest version `2.2.1` - you can do this by doing `pip install --upgrade chat-exporter`

Thank you once again for your report and to @Kapppa for the PR.
If you find any other issues, feel free to open up another issue on Github - or alternatively, you can [join the Discord](https://discord.gg/mq3hYaJSfa).

💜

[2022-06-12 13:51] #46 closed

[2022-06-20 20:34] Septikai opened #48 "Pin Add messages do not export as expected"
### DiscordChatExporterPy Version

2.2.1

### Discord Version

Discord.py 2.0.0a4318+g823d650e (Most recent commit at time of writing)

### Bug Description

When creating a transcript with `export()` or `quick_export()` (I haven't tested with  `raw_export()`), any messages to show a pin being added will be shown as an empty message from the user pinning the message, replying to the message they pi

[2022-06-20 20:47] Septikai commented on #48
From what I can find, in dpy, the MessageType of pins being added is an enum, `MessageType.pins_add`, rather than a string as chat-exporter seems to expect [here](https://github.com/mahtoid/DiscordChatExporterPy/blob/65160e2f91df2dc88ac1c6788cc99d1eccf81868/chat_exporter/construct/message.py#L64).
![image](https://user-images.githubusercontent.com/52349324/174675270-e4e4a3b0-7f9a-4e66-89c2-635c300

[2022-06-21 10:34] mahtoid commented on #48
Thank you for the report.

This issue was brought up within the Discord server ~a week ago. I have the solve locally which I can push up to the Repo, although it will probably sit on a `dev` branch until `2.3` is ready.

I'll keep this issue open until the branch is up.

[2022-07-13 13:48] mahtoid commented on #48
I forgot to drop a message here. This has been added to the `development` branch.

You can clone the repository in to your project then checkout that branch if you wish to use it locally until it'll be released.

_Please note, I have also updated a bunch of CSS and re-added HTML escaping, so there may be some issues. If you find anything, let me know._

[2022-07-13 13:48] #48 closed

[2022-07-14 10:21] Septikai commented on #48
Thanks, will do.

[2022-07-23 04:39] krypton007 opened #49 "Attachments getting deleted after the original channel is deleted."
### DiscordChatExporterPy Version

2.2.2

### Discord Version

2.0

### Bug Description

So when I created a transcript it showed the attachments in that channel but after deleting the channel discord also deletes the attachments. Hence, the transcript shows just a broken image instead of an attachment.
ss of the transcript after the channel is deleted - https://i.imgur.com/jRiXWpk.png
ss of anoth

[2022-07-23 18:30] mahtoid commented on #49
Hello @krypton007, thank you for the report.

As you were kind of aiming towards, the attachments disappear once the channel is deleted as the attachments are removed from Discords CDN servers.

To circumvent this issue, it would require downloading the attachments along with the transcript - so that when you view it, you could view the attachments too. However, for many reasons - along with being

[2022-07-23 18:30] #49 closed

[2022-07-25 21:10] BossMan32143 opened #50 "Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object."
### DiscordChatExporterPy Version

v2.2.2

### Discord Version

py-cord v2.0.0rc1

### Bug Description

I'm using this to log transcripts for my ticket bot and when I try closing already created tickets I get the error message "Anonymous caller does not have storage.objects.get access to the Google Cloud Storage object.". I just tested with a few new tickets and its working fine with them but with

[2022-07-26 09:45] berchbrown opened #51 "I can't create a new transcript"
### DiscordChatExporterPy Version

2.2.1

### Discord Version

1.7.2

### Bug Description

When i wanted to create a new transcript, it shows me this error:

### Bug Traceback

[code]

### Additional Information

_No response_

[2022-07-26 10:35] mahtoid commented on #50
Hey @BossMan32143 - by any chance did you delete the transcript file from Discord?

[2022-07-26 10:36] mahtoid commented on #51
For usage of `discord.py 1.7.3` (or before) you have to use `chat-exporter 1.7.3`
To downgrade, run: `pip install chat-exporter==1.7.3`

[2022-07-26 10:36] #51 closed

[2022-07-26 12:44] BossMan32143 commented on #50
Yea it does delete the HTML file because the ticket channel gets deleted, I did not realize that would cause a problem. Is there a way to select what channel the HTML file gets sent into? if so how would I go around doing it

[2022-07-26 13:00] #50 closed

[2022-07-26 13:47] Amxgh opened #52 "TypeError: demojize() got an unexpected keyword argument 'use_aliases'"
### DiscordChatExporterPy Version

2.2.1

### Discord Version

0.0.1

### Bug Description

I have a command that sends the transcript of a channel when that channel is deleted. When I tried to delete a channel, it errored.

cogs.tickets
[code]

general.py
[code]

### Bug Traceback

Traceback (most recent call last):
  File "/home/container/.local/lib/python3.9/site-packages/chat_exporter/construct

[2022-07-26 14:51] mahtoid commented on #52
Update your version of `chat-exporter`, this was hotfixed for `2.2.2`

To upgrade, run: `pip install --upgrade chat-exporter`

[2022-07-26 14:51] #52 closed

[2022-08-04 12:00] 1337Syntax opened #54 "'NoneType' object has no attribute 'html'"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

disnake 2.5.2

### Bug Description

I have been using this library for quite a long time now but recently this error is appearing, which I've never seen previously, when using `export()`.

### Bug Traceback

[code]

### Additional Information

This only happens sometimes, not all the time - but it is increasing in frequency.

[2022-08-04 13:37] 1337Syntax commented on #54
nvm figured out why.

[2022-08-04 13:37] #54 closed

[2022-08-05 09:45] FSH1999 opened #55 "AttributeError: module 'disnake' has no attribute 'Client'"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

2.0

### Bug Description

I want to clarify that I don't have the ''disnake'' fork, I'm using the basic usage

[code]

### Bug Traceback

Traceback (most recent call last):
  File "c:\Users\FSH\Desktop\uwu\bot.py", line 9, in <module>
    import chat_exporter
  File "C:\Users\FSH\AppData\Local\Programs\Python\Python310\lib\site-package

[2022-08-05 17:54] mahtoid commented on #55
Hello @FSH1999 - by any chance, do you have the `disnake` fork installed?

I think I need to make a change to start the import attempts from `discord` as opposed to `disnake` 👀

[2022-08-08 02:14] FSH1999 commented on #55
Hello @mahtoid , sorry for replying late. I installed disnake at some point but I don't have it anymore, what I have is:
[code]
But I don't think it matters

![image](https://user-images.githubusercontent.com/78675473/183324843-c4529052-8c13-4388-b95a-0801afb40024.png)

Any slope to a change, thanks for responding.

[2022-08-11 10:52] Joniii11 opened #56 "AttributeError: 'Message' object has no attribute 'components'"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

1.7.3

### Bug Description

I tried to archive that but instead of that it is archiving the channel it spits 2 errors out, tried like the documentation did and copyied that and if u try to execute that command, it will come that error out AttributeError: 'Message' object has no attribute 'components'

### Bug Traceback
[code]
### Addit

[2022-08-11 18:22] mahtoid commented on #56
Downgrade to `chat-exporter==1.7.3`.
You can do this by using: `pip install chat-exporter==1.7.3`

`chat-exporter==2.0` and above is for dpy 2.0  (or fork equivalent)

[2022-08-11 18:22] #56 closed

[2022-08-16 18:00] gaRt3n opened #57 "TypeError: demojize() got an unexpected keyword argument 'use_aliases' (1.7.3)"
### DiscordChatExporterPy Version

1.7.3

### Discord Version

1.7.3

### Bug Description

0|FoxCodeBot  | Traceback (most recent call last):
0|FoxCodeBot  |   File "/home/corebot/.local/lib/python3.9/site-packages/chat_exporter/chat_exporter.py", line 44, in export
0|FoxCodeBot  |     return (await Transcript.export(channel, limit, set_timezone)).html
0|FoxCodeBot  |   File "/home/corebot/.local/

[2022-08-17 11:48] mahtoid commented on #57
Hello @gaRt3n - thank you for reporting this issue.

This issue is solved in later versions of `chat-exporter`, however because you are using `discord.py==1.7.3` it'll be a little problematic.

To solve this issue for now on your current version, you can downgrade the `emoji` package to `1.7.0` - you can do so by running: `pip install emoji==1.7.0`.

I will however keep this issue open while I try

[2022-08-19 03:16] CodeInFilth opened #58 "Timzeone not working"
### DiscordChatExporterPy Version

Latest

### Discord Version

Latest

### Bug Description

I am attempting to change the timzeone from UTC over to PST.

According to your docs I notice that it should work by adding to the kwargs like so:

`await chat_exporter.export(ctx.channel, limit=1, tz_info="PST")`

fails and produces this:
[code]

this fails, even changing the UTC over to PST in the chat_e

[2022-08-19 19:59] mahtoid commented on #57
Discord py got updated to `2.0` - you can update both dpy and chat-exporter; closing this issue out.

[2022-08-19 19:59] #57 closed

[2022-08-19 23:35] mahtoid commented on #58
Only TZ Database Names are accepted.
Checkout: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
Everything under the `TZ Database Name` will work

[2022-08-19 23:35] #58 closed

[2022-08-22 20:45] Noah-Wilderom opened #59 "Basic example errors"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

2.0.0

### Bug Description

Used the example in the README
[code]

For the first error there was a embed in the channel that had no color (default) after giving the embed a color and trying again gave me the 2nd error.

The only message that is in the channel is 1 embed with only no title

### Bug Traceback

[code]

[code]

### Additio

[2022-08-22 20:47] Noah-Wilderom commented on #59
After giving the embed a title seems to have solved it, this does mean you need to have a full embed or it would not work.

[2022-08-23 00:48] mahtoid commented on #59
It looks like `discord.py` changed something on their release of `2.0`.

I'll add this to the list of things to do, thank you for bringing it to my attention.

[2022-08-27 14:07] mahtoid commented on #59
Closing due to inactivity, feel free to re-open if you have anything.

[2022-08-27 14:07] #59 closed

[2022-08-27 14:08] mahtoid commented on #55
@FSH1999 I've changed the order on the `development` branch. This will be in the next version (maybe releasing soon?).

Closing this issue out.

[2022-08-27 14:08] #55 closed

[2022-09-10 10:21] INFINITE31 opened #60 "Transcript not generating"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

nextcord 2.2.0

### Bug Description

When I was trying to create a new transcript.

### Bug Traceback

`Traceback (most recent call last):
File "/opt/venv/lib/python3.9/site-packages/chat_exporter/construct/transcript.py", line 74, in export
return await super().build_transcript()
File "/opt/venv/lib/python3.9/site-packages/chat_export

[2022-09-10 15:25] mahtoid commented on #60
Hello @INFINITE31 - thank you for letting me know.

I've pushed a change to the `development` branch which will solve for this.

It's quite irritating that their `Embed.Empty` is returning an Object, yet the `Embed` components return `None` directly. If they both returned `None`, then this wouldn't have required a change. Either way, this is solved for now.

---
I'm not entirely sure when I'll pus

[2022-09-10 15:25] #60 closed

[2022-09-11 22:23] the-jolley-boy opened #61 "AttributeError: 'NoneType' object has no attribute 'history'"
### DiscordChatExporterPy Version

2.2.1

### Discord Version

2.0.1

### Bug Description

Been using your chat-exporter for a while and it has been great, had the issue when I upgraded to discord.py 2.0+ but fixed the issue and it had been running smoothly until today.

Was archiving as I normally do and for some reason it threw me a NoneType error which was very odd since other channels in the s

[2022-09-12 12:49] mahtoid commented on #61
Hey!

Just checking out the issue you faced, seems to be something to do with the `TextChannel` object you passed through perhaps wasn't cached(?). Quite unsure on how else/or even if an un-cached TextChannel relates to `None`.

I'm a little baffled, but it's not anything to do with `chat-exporter` but perhaps `discord.py` or a slip up by yourself (not sure how you pass the channel in).

---

What

[2022-09-12 14:03] the-jolley-boy commented on #61
My guess was an issue on discords end, not even discord.py. I think I may just accept that I cannot archive this channel since it is an issue that I only have faced on one channel and I have archived like 75+ by now without any issue.

Thanks for the reply I think I will just close this bug.

[2022-09-12 14:03] #61 closed

[2022-09-15 21:11] api-was-taken opened #62 "Not Exporting"
### DiscordChatExporterPy Version

2.2.2

### Discord Version

1.7.3

### Bug Description

![Screenshot 2022-09-15 141031](https://user-images.githubusercontent.com/110469682/190509406-972336d4-d384-4067-bfc5-f899b5f60770.png)
hen i ran my save transcript command i get this error:
https://hastebin.com/zeqecidela.sql

Here is Screenshot
W
![Screenshot 2022-09-15 141031](https://user-images.githubus

[2022-09-16 23:34] JonasHohenstatter opened #63 "'NoneType' object has no attribute 'html' (with matching versions)"
### DiscordChatExporterPy Version

2.2 (Latest)

### Discord Version

2.0.1 (Latest)

### Bug Description

This bug keeps happening when I try to create a transcript with my Discord py bot. It worked great for 4 days or so and suddenly this error  pops up. I had it fixed for an hour today, when I restarted the whole Bot after uninstalling chat-exporter and reinstalling it. This is NOT a duplicate

[2022-09-16 23:56] JonasHohenstatter commented on #63
The solution was this:

"It seems like you have another library using the emoji namespacing other than emoji"

Please check wheter you have any file that is named emoji.py in the cwd.

[2022-09-16 23:56] #63 closed

[2022-09-17 21:21] api-was-taken opened #64 "Multiple Error"
### DiscordChatExporterPy Version

2.2.2 + 1.7.3

### Discord Version

1.7.3

### Bug Description

So i was told to downgrade from chat-export 2.2.2 to 1.7.3 To get rid of this error `AttributeError: 'NoneType' object has no attribute 'html'`

But when i downgrade to v1.7.3 I get this Error: `TypeError: demojize() got an unexpected keyword argument 'use_aliases'`

Please Help!

### Bug Traceback

[2022-09-18 12:43] mahtoid commented on #64
You can either downgrade `emoji` to `1.7.0` (`pip install emoji==1.7.0`) or you can remove the `use_aliases` from `emoji_convert.py` in your package files (`L74`)

Should look like so: <https://github.com/mahtoid/DiscordChatExporterPy/blob/master/chat_exporter/ext/emoji_convert.py#L74>

[2022-09-18 12:43] #64 closed

[2022-09-18 18:45] api-was-taken commented on #64
How would i do this?

[2022-09-18 18:46] api-was-taken commented on #64
Ive tried downgrading emoji and i get error

[2022-09-18 18:47] api-was-taken commented on #64
nvm i got it!

[2022-09-24 13:55] bombamc opened #66 "AttributeError: 'Message' object has no attribute 'components'"
### DiscordChatExporterPy Version

ver 2.3

### Discord Version

discord.py ver 1.7.9

### Bug Description

Running a command to export chat messages in channel into an html file. When done the bot errors with the following message directing me to this github.

### Bug Traceback

Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python3.10/site-packages/chat_exporter/construct/tra

[2022-09-25 15:54] SwordOfSouls commented on #66
Just got the same error

[2022-09-25 16:04] SwordOfSouls commented on #66
Solution: With the new discord.py version you need to enable "messages" intent instead of "message_content"

[2022-09-26 09:21] mahtoid commented on #66
@bombamc @SwordOfSouls Downgrade to `chat-exporter==1.7.3`.
You can do this by using: `pip install chat-exporter==1.7.3`

`chat-exporter==2.0` and above is for dpy 2.0  (or fork equivalent)

#53

[2022-09-26 09:28] GuaxinimDEV opened #67 "Error ChatExporterPy"
### DiscordChatExporterPy Version

2.3

### Discord Version

2.0.1

### Bug Description

when I try to do the basic transcript it gives me this error. i'm using slash, so i'm using interaction

### Bug Traceback

Traceback (most recent call last):
  File "C:\Users\adjuto\AppData\Local\Programs\Python\Python310\lib\site-packages\chat_exporter\construct\transcript.py", line 123, in export
    return

[2022-09-26 09:42] #66 closed

[2022-09-27 10:47] mahtoid commented on #67
I haven't been able to reproduce this issue. Could you run a `pip show` and make sure you only have one instance of an API for Discord loaded.

By that I mean - you aren't using `discord.py` along with `nextcord` or whatever else. Sometimes that causes conflicts which leads to this issue.

[2022-09-27 11:46] GuaxinimDEV commented on #67
![image](https://user-images.githubusercontent.com/73598427/192516267-7ba28f8b-98f8-41b8-8797-01cbc624f018.png)

if I leave this embed in the chat, it gives an error. I only managed to make it work after I removed the embed

i have installed discord.py and nextcord.py

![image](https://user-images.githubusercontent.com/73598427/192517009-7b1e4956-026c-4a84-b360-6d50b7ae6f12.png)

[2022-09-27 17:06] mahtoid commented on #67
You should only be using one or the other, not both. That is what causes conflicts which can introduce issues like this. Make sure you are only using **one** framework

[2022-09-28 13:11] GuaxinimDEV commented on #67
I'm only using nextcord.py

[2022-09-28 20:56] mahtoid commented on #67
Oh? Then this issue should have been solved in `chat-exporter==2.3`

Make sure you have the latest version of `chat-exporter` and that you have no other Discord frameworks installed. If you still have the issue, then I'll try further to reproduce this issue.

[2022-09-29 13:56] GuaxinimDEV commented on #67
nextcord           2.0.0

chat-exporter      2.3

these are the versions that i have installed

[2022-09-29 16:28] mahtoid commented on #67
Oh, I think I know the issue. I'll solve this by the end of the week, lacking spare time currently.

If you want to fix this locally, go to [chat_exporter/construct/assets/embed.py](https://github.com/mahtoid/DiscordChatExporterPy/blob/master/chat_exporter/construct/assets/embed.py#L24)  in your venv and remove `and discord.module != "nextcord"`. That should solve your issue. Alternatively, update

[2022-09-29 18:15] GuaxinimDEV commented on #67
I updated nextcord to 2.2 and also made the indicated modification

![image](https://user-images.githubusercontent.com/73598427/193110816-34191c6d-fd10-4e67-9269-de2660d1ce5a.png)

and when I tried, it gave me this error

![image](https://user-images.githubusercontent.com/73598427/193110465-563adf92-4d60-46ee-8668-35be23c22bde.png)

[2022-09-29 22:13] mahtoid commented on #67
Yes, you should have either done one or the other - not both.

Either:
a) Use the latest version of `nextcord` and uncomment the code.
b) Use the previous version of `nextcord` you was using (2.0) and comment the code.

Not both, both causes the issue in reverse

[2022-10-01 13:38] Animarlly opened #68 "Errors AttributeError"
### DiscordChatExporterPy Version

2.3

### Discord Version

discord.py-message-components 2.0a294+gfb291a6

### Bug Description

I have added the example

[code]

to my code. For the rest it is working fine. The link gets shown in the embed where it belongs but I get all the errors.

When I click on the link, I get also errors. Here is on link of them:

https://mahto.id/chat-exporter?url=https://

[2022-10-01 15:15] mahtoid commented on #68
`discord.py-message-components` is unsupported for `chat-exporter`.
I don't think there are enough people using this for it to be included in to `chat-exporter` either, I do apologize.

If you do wish to use `chat-exporter` then I suggest either just using `discord.py` or switching to `nextcord`, `disnake` or `py-cord` (these are all supported currently).

[2022-10-01 15:15] #68 closed

[2022-10-01 15:17] mahtoid commented on #67
@GuaxinimDEV any update?

[2022-10-01 15:20] Animarlly commented on #68
Thank you for the fast response!

[2022-10-03 13:00] GuaxinimDEV commented on #67
with your help, i managed to make it work, thanks

[2022-10-03 13:25] mahtoid commented on #67
Awesome, glad to hear it! 💜

If you have any other problems, feel free to open up another Issue request on GH or join the Discord. 😄

[2022-10-03 13:25] #67 closed

[2022-10-16 12:15] peterlinux11 opened #70 "TypeError: '<' not supported between instances of 'str' and 'float' - nextcord-2.2.0"
### DiscordChatExporterPy Version

2.4

### Discord Version

2.2.0-nextcord

### Bug Description

When i use chat_exporter.export i ll get a error and it just dont create the transcript.
![image](https://user-images.githubusercontent.com/69091177/196034778-699ff1e5-509f-4f76-8513-5b2ecbcb29c1.png)

### Bug Traceback

Traceback (most recent call last):
  File "C:\Users\rigop\AppData\Local\Programs\

[2022-10-16 16:19] mahtoid commented on #70
Hello @peterlinux11 - thank you for the report.

Someone reported this within the Discord too and I'm just awaiting them to get back to me to confirm a fix worked. Will leave this open until I push a hotfix.

[2022-10-16 16:43] mahtoid commented on #70
Pushed the solution, I just removed the version check. 👀
If you run `pip install --upgrade chat-exporter` you will be up and running once again.

If you notice any other issues, feel free to raise another Github Issue or alternatively join the Discord. Have a great day 💜

[2022-10-16 16:43] #70 closed

[2022-11-12 20:16] Agent-Lemm1ngs opened #73 "pins_add not message_type"
### DiscordChatExporterPy Version

2.4.1

### Discord Version

nextcord ver 2.3.2

### Bug Description

I was trying to generate a transcript, when I hit this error. The exact same code works perfectly on replit, but not on my host when I tried.

### Bug Traceback

Traceback (most recent call last):
  File "/home/container/.local/lib/python3.10/site-packages/chat_exporter/construct/transcript.py",

[2022-11-14 18:33] mahtoid commented on #73
Hello @Agent-Lemm1ngs - sorry for the delay!

I have just solved this issue and pushed it to the `development` branch ready for release when I can get around to it.

If you would like to solve this issue now, feel free to edit the `chat-exporter` code in your local venv. The solve is pretty simple and can be found [here](https://github.com/mahtoid/DiscordChatExporterPy/commit/9c2c5b9a0e55d85b403ec

[2022-11-20 17:53] mahtoid commented on #73
This should now be resolved on the latest release. Please run `pip install --upgrade chat-exporter` to get the latest version.

Hopefully this solves the issue you were facing, however - if there is still an issue, or you find any others - then please open another Github Issue, or better yet [join the Discord](https://discord.gg/mq3hYaJSfa)

Thank you for reporting the issue, and sorry once again

[2022-11-20 17:53] #73 closed